// colors
$white: #fff;
$dark-red: #812020;
$dark-grey: #2b2b2b;
$light-grey: #ededed;
$light-shadow: rgba(0, 0, 0, .32);
$alert-blue:#206281;
// dimensions
$width-full: 100vw;
$width-gutters: $width-full * (1 / 8);
$width-column: $width-full * (3 / 4);
$width-col-twothird: $width-full * (1 / 2);
$width-squeeze: $width-gutters * (1 / 2);

$height-full: 100vh;
// layout patterns
%flex-column {
  display: flex;
  flex-direction: column;
}

%icon-base {
  cursor: pointer;
  height: 5vw;
  max-height: 70px;
  max-width: 70px;
  min-height: 30px;
  min-width: 30px;
  width: 5vw;
}

body {
  border: 0;
  margin: 0;
}

// fonts

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
button,
input {
  color: $dark-grey;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

%thin-title {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

%subtitle {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

%clickable-text {
  color: $dark-red;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

%paragraph-base {
  color: $dark-grey;
  font-size:20px;
  font-style: normal;
}

.icon {
  @extend %icon-base;
}

// structure

.page-wrapper {
  @extend %flex-column;
  padding-left: $width-gutters;
  padding-right: $width-gutters;
  transition: all 300ms;
  width: $width-column;
}

.title-background {
  background-color: $light-grey;
  box-shadow: 2px 2px 35px 2px $light-shadow;
  height: 11vh;
  position: absolute;
  width: $width-full;
  z-index: -1;
}

// nav bar

.menu-icon {
  background-color: $dark-red;
  left: 90vw;
  margin-left: 2vw;
  margin-top: 2vh;
  padding: 3px;
  position: fixed;
  text-align: left;
  width: 100%;

  * {
    color: $white;
    padding-left: 10px;
  }
}

.icon-container {
  height: $height-full;
  left: 90vw;
  position: fixed;
  width: $width-gutters;
}

.icon-wrapper {
  @extend %flex-column;
  align-items: center;
  background-color: $white;
  border-left: 1px solid $light-grey;
  height: $height-full;
  justify-content: space-around;
  left: 100vw;
  position: fixed;
  transition: all 300ms;
  width: 10vw;

  .home-icon {
    cursor: pointer;
    max-height: 40px;
  }
}

// title-bar

.title-bar {
  width: $width-column;
  display: flex;
  align-items: center;
  justify-content: center; /*for new logo*/
  margin-top: 2vh;

  #color-logo {
    max-height: 7vh;
    width: auto;
    height: auto;
  }
}

// hover blur

.grid-wrapper {
  @extend %flex-column;
  align-items: center;
  width: $width-column;

  .large-subtitle-wrapper {
    width: $width-column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
    margin-top: 90px;

    .title-icon {
      max-width: 50px;
      max-height: 50px;
      margin-left: 30px;
      cursor: auto;
    }

    h1 {
      @extend %thin-title;
    }
  }

  .subtitle-wrapper {
    width: $width-column;
    margin: 2px;
    margin-bottom: 5px;
  }

  h2 {
    @extend %subtitle;
  }

  p {
    @extend %clickable-text;
  }
  .grid-row {
    width: $width-column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vh;
    margin-bottom: 2vh;

    .img-frame {
    	position: relative;
      cursor: pointer;
      margin-top: 1vh;
    	width: 22vw;
      max-width: 300px;
    	height: 22vw;
      max-height: 300px;
    	overflow: hidden;
    	@extend %flex-column;
    	justify-content: center;
    	align-items: center;

      .img-text-over {
      	z-index: 10;
        color: $dark-grey;
      	position: absolute;
        padding: 1vw;

        * {
          font-weight: 900;
          font-size: 4vw;
          letter-spacing: 1.5px;
        }

        .photo-text {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          color: white;
        }

      }

      .img {
      	display: flex;
      	justify-content: center;
      	align-items: center;
      	overflow: hidden;

        img {
            height: auto;
        }
      }

      .photo {
        img {
          width: 100%;
        }
      }
    }
  }
}

.dividing-line {
  width: 60%;
  height: .2vh;
  background-color: light-grey;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

// dropdown

.dropdown-text {
  width: $width-col-twothird;
  border-left: 2px solid $dark-red;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  padding: 1vw;

  p {
    @extend %paragraph-base;
  }
}

// mobile cover

.mobile-cover {
  width: $width-full;
  height: $height-full;
  background-color: $dark-red;
  color: white;
  @extend %flex-column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  display: none;

  h1 {
    font-weight: 500;
    color: white;
  }
}

// screens

@media screen and (max-width: 950px) {
  // hover blur
  .img-frame {
  	width: 100%;
    max-width: 100%;
    margin: 2px;
    overflow: hidden;
    * {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 415px) {
  .mobile-cover {
    display: flex;
  }
}

// behavior classes

.none {
  display: none;
}

.invisible {
  visibility: hidden;
}

.blur {
  filter: blur(20px);
}

.right-margin {
  margin-right: 1vw;
}

.view-menu {
  left: 90vw;
  transition: all 300ms;
}

.squeeze-menu {
  padding-left: $width-squeeze;
  padding-right: $width-squeeze;
  transition: all 300ms;
}


// FORM STYLES

body {
  border:0;
  margin:0;
}

div {
  /* border: .5px solid lightgrey; */
}

h1,h2,h3,h4,h5,h6,p,li,a,button,input,label {
  font-family:"Roboto", sans-serif;
}

.mini {
  font-size:10px;
}

.small {
  font-size:12px;
}

.current-selection {
  font-size:10px;
  text-transform:uppercase;
  font-weight:bold;
}

.flex {
  display:flex;
}

.column {
 flex-direction:column;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.pageWrapper {
  width:100vw;
}

.full-page {
  margin:10%;
}

.small-margin {
  margin-bottom:8px;
}

.med-margin {
  margin:12px;
}

.boxBorder {
  border:1px solid black;
  border-radius: 5px;
}

.padding {
  padding:5px;
}

button {
  border:1px solid grey;
  margin:4px 0 4px 0;
  border-radius:5px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, .1);
  min-width:20%;

  min-height:20px;
  align-self:flex-end;
}

.button-titles {
  align-self:flex-end;
  margin:0px;
  padding:0px;
  margin-bottom:15px;
}

button:hover {
  cursor:pointer;
}

button:active {
  transform: translate(1px, 1px);
}

button:focus {
  outline:0;
}

button.yes {
  background-color:$dark-red;
  color:white;
}

button.no {
  background-color:white;
}

button.long-fixed {
  width:200px;
}

button.unavailable {
  background-color:white;
  border-color:$dark-grey;
  color:grey;
  box-shadow:none;
}

button.unavailable:active {
 transform:translate(0px);
}

.submit {
  align-self: flex-end;
}

form {
  display: flex;
  flex-direction:column;
}

input {
  margin-top:10px;
  margin-bottom:20px;
  border:none;
  border-bottom:2px solid lightgrey;
  color:lightgrey;
  flex-grow:1;
  margin-bottom:15px;
}

input.active-input {
  border-bottom:2px solid $dark-grey;
  color:$dark-grey;
}

input:focus {
  outline:0;
}

input:placeholder-shown {
  color:pink;
}

textarea {
  border-top:2px solid $light-grey;
  border-bottom:2px solid $light-grey;
  border-left:0px;
  border-right:0px;
  margin-top:10px;
  margin-bottom:10px;
}

textarea.active-input {
  border-top:2px solid black;
  border-bottom:2px solid black;
}

textarea:focus {
  outline:0;
}

::placeholder {
  color:$light-grey;
}

.noMarginsPadding {
  padding:0;
  margin:0;
}

.preInputMimic {
  border:none;
  border-bottom:none;
  color:black;
  font-size: 11px;
}

.inputMimic {
  border:none;
  border-bottom:2px solid green;
  color:green;
  font-size: 11px;
}

.formCompletedSuccess {
  outline:0;
  border-bottom:2px solid black;
  color:black;
}

.formCompletedFailure {
  outline:0;
  border-bottom:2px solid $alert-blue;
  color:$alert-blue;
}

.formErrorReport {
  font-size:16px!important;
  margin:2px 0 0px 0;
  padding:2px 0 0px 0;
  color:$alert-blue!important;
  font-style:normal!important;
  font-weight:bold!important;
  margin-bottom:20px;
}

input:placeholder-shown {
  color:pink;
}

::placeholder {
 color:lightgrey;
}

.shortField {
 width:40px;
}

input {
  font-size:12px;
  font-size:12px;
  // border-radius:2px;
}

input:focus {
	outline:0;
}

.footer {
  height:200px;
}
